@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 300;
  src: local("Nexa"), url("./fonts/NexaLight.woff") format("woff");
}
@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 700;
  src: local("Nexa"), url("./fonts/NexaBold.woff") format("woff");
}

body {
  background-color: #f7f8fa;
  font-family: "Nexa", sans-serif;
}

.my__resume {
  color: #e67322;
  width: 100px;
  line-height: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  font-size: 0.85rem;
  border: 1px solid #e67322;
  border-radius: 1.05rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.my__resume:hover {
  color: white;
  background-color: #e67322;
}

.my__linkedin {
  color: #2188ff;
  width: 100px;
  line-height: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  font-size: 0.85rem;
  border: 1px solid #2188ff;
  border-radius: 1.05rem;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}
.my__linkedin:hover {
  color: white;
  background-color: #2188ff;
}
