@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 300;
  src: local("Nexa"), url("./fonts/NexaLight.woff") format("woff");
}
@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 700;
  src: local("Nexa"), url("./fonts/NexaBold.woff") format("woff");
}

body {
  background-color: #f7f8fa;
  font-family: "Nexa", sans-serif;
}
